<div class="login-container">
  <div class="login-card">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label>Email</label>

        <input type="email" formControlName="email" placeholder="Enter email" />

        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <small> Email không hợp lệ </small>
        }
      </div>

      <div class="form-group">
        <label>Password</label>

        <input type="password" formControlName="password" placeholder="Enter password" />

        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <small>Password bắt buộc</small>
        }
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>

    <p class="message">
      {{ message }}
    </p>
  </div>
</div>
