<div class="main">
  <div class="main-left">
    <div class="background">
      <div class="container">
        <h1 class="text">Chào mừng bạn quay trở lại gian bếp!</h1>

        <div class="text">
          Đăng nhập để tiếp tục khám phá hàng ngàn công thức nấu ăn ngon từ cộng đồng
          CulinaryFriend.
        </div>
      </div>
    </div>

    <img class="background-image" src="images/bg-img.png" alt="background-image" />
  </div>

  <div class="login-container">
    <div class="login-card">
      <h2>Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label>Email</label>

          <input type="email" formControlName="email" placeholder="Enter email" />

          @if (emailInvalid) {
            <small> Email không hợp lệ </small>
          }
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" formControlName="password" placeholder="Enter password" />

          @if (passwordInvalid) {
            <small>Password bắt buộc</small>
          }
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>

      <p class="message">
        {{ message }}
      </p>
    </div>
  </div>
</div>
